:root {
    --grey-blue: rgb(98, 117, 156);
    --clear-green: rgb(234, 241, 236);
    --grey-dead-blue: rgb(84, 99, 128);
    --orange: #d44500;
}

html {zoom: 120%;}

/*------------------------------------------------------------------*/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.367);

    display: flex;
    flex-direction: column;
}

/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/
/*
.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.background {
    transform: translateZ(-10px) scale(2);
  }
  
  .foreground {
    transform: translateZ(-5px) scale(1.5);
  }
  
  .background,
  .foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .header-name {
    font-size: 20pt;
    color: white;
    text-shadow: 0 0 5px black;;
  }
*/
/*------------------------------------------------------------------*/
/*------------------------------------------------------------------*/


body > * {
    flex-shrink: 0;
}

.last-p {
    flex-grow: 1;
}

/*------------------------------------------------------------------*/

p, span {
    padding: 0 25pt;
}

li {
    list-style-type: disc;
    margin-left: 45pt;
}

a {
    color: var(--orange);
}

/*------------------------------------------------------------------*/

.white-back {
    background-color: white;
}

.green-back {
    background-color: var(--clear-green);
}

.generic-p-spacing {
    padding: 15pt 0;
    padding-bottom: 25pt;
}

.generic-section-title {
    font-weight: 600;
    font-size: 12pt;
    text-decoration: underline;
    color: var(--grey-dead-blue);
}

/*------------------------------------------------------------------*/

.header {
    background-image: url(header_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: rgba(0, 0, 0, 0.525);

    min-height: 250pt;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.header-name {
    color: white;
    font-size: 20pt;
    font-weight: 600;
}

.header-bar {
    margin-top: 4pt;
    width: 150pt;
    background-color: var(--grey-blue);
    min-height: 5pt;
}

/*------------------------------------------------------------------*/

.first-p {
    text-align: center;
}

.first-p-title {
    font-weight: 600;
    font-size: 15pt;
    color: var(--grey-dead-blue);
}

/*------------------------------------------------------------------*/

.footer {
    text-align: center; 
    font-weight: 600;  
    font-size: 9pt; 
}
