* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    height: 100%;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(0,0,103,1) 18%, rgba(0,212,255,1) 88%);
    background-size: cover;
}

div.container {
    background-color: #49dddd;
    background-color: rgba(101, 232, 237, 0.557);
    padding: 10pt 40pt;
    border-radius: 20pt;
}

h2 {
    font-size: large;
    color: rgb(73, 73, 73);
}

ul {
    padding-left: 0pt;
    margin-bottom: 4pt;
    margin-left: 0pt;
}
